.SideBar {
    height: 100vh;
    width: 300px;
    background-color: rgb(233, 184, 184);
    padding: 0;
    margin: 0;
}

.SideBarList {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}

.SideBarList .row {
    height: 60px;
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.192);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    color: rgb(9, 73, 129);
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.SideBarList .createProject {
    height: 60px;
    width: 100%;
    border: 2px solid black;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.SideBarList .home {
    height: 60px;
    width: 100%;
    border: 2px solid black;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.SideBarList .row:hover {
    cursor: pointer;
    background-color: rgb(218, 240, 120);
}

.SideBarList .createProject:hover {
    cursor: pointer;
    background-color: rgb(218, 240, 120);
}

.SideBarList .home:hover {
    cursor: pointer;
    background-color: rgb(8, 206, 91);
}

.row #icon {
    flex: 30%;
    display: grid;
    place-items: center;
}

.row #title {
    flex: 70%;
}

.home #icon {
    flex: 30%;
    display: grid;
    place-items: center;
}

.home #title {
    flex: 70%;
}

.SideBarList #Active {
    background-color: aqua;
}