.App {
  font-family: sans-serif;
  text-align : center;
}

body {
  background-color: #ffff;
}

input {
  outline: none;
}

.container {
  display         : flex;
  grid-gap        : 20px;
  background-color: #ffff;
}

.inputColumn {
  border   : 1px solid #cfcfcf;
  padding  : 5px 7px;
  font-size: 0.8rem;
  height   : 1rem;
}

.btnColumn {
  white-space     : nowrap;
  margin-left     : 1.5rem;
  border          : 1px solid rgb(89, 86, 248);
  background-color: rgb(76, 153, 253);
  color           : #fff;
  padding         : 5px 5px;
  font-size       : 0.7rem;
  border-radius   : 2px;
  cursor          : pointer;
}





.member-item {
  display        : flex;
  align-items    : center;
  margin-right   : 10px;
  justify-content: center;
  margin-bottom  : 10px;


}

.member-avatar {
  width        : 50px;
  height       : 50px;
  border-radius: 50%;
  overflow     : hidden;
  margin-right : 10px;
}

.member-avatar img {
  width : 100%;
  height: 100%;
}

.member-details {
  display       : flex;
  flex-direction: column;
}

.member-actions button {
  background-color: #ff0000;
  color           : #fff;
  border          : none;
  padding         : 5px 10px;
  cursor          : pointer;
  margin-left     : 10px;
  border-radius   : 40px;
}

.member-actions button:hover {
  background-color: darkred;
  /* Màu khi hover */
}