.titleCard {
    margin-bottom: 0px;
    margin-top: 2px;
    color: rgb(73, 73, 73);
  }
  
  .singleCard {
    min-height: 80px;
    cursor: pointer;
    width: 100%;
    padding: 2px 30px;
    background-color: white;
    margin-bottom: 1.2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  