.column {
  min-height: 10vh;
 
  display: flex;
  background-color: rgb(243, 243, 243);
  flex-direction: column;
  padding: 0 10px;
  width: 300px;
}

.columnHeading {
  margin: 1.3rem 0;
  display: flex;
  justify-content: space-between;
}

.columnHeading span {
  color: rgb(90, 90, 90);
  font-weight: bold;
  white-space: nowrap;
}

.columnHeading button {
  white-space: nowrap;
  margin-left: 1rem;
  border: 1px solid rgb(89, 86, 248);
  background-color: rgb(76, 153, 253);
  color: #fff;
  padding: 5px 4px;
  font-size: 0.7rem;
  border-radius: 2px;
  cursor: pointer;
}

.modalContainer {
  position: absolute;
  width: fit-content;
  height: fit-content;
  background-color: #f3f3f3;
  border-radius: 5px;
  padding: 20px 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modalContainer h2 {
  margin: 0 0 1rem 0;
  color: #383838;
}

.modalContainer input {
  border: 1px solid #cfcfcf;
  padding: 5px 7px;
  font-size: 0.8rem;
  height: 1rem;
}

.modalContainer button {
  white-space: nowrap;
  border: 1px solid rgb(89, 86, 248);
  background-color: rgb(76, 153, 253);
  color: #fff;
  padding: 6px 8px;
  font-size: 0.7rem;
  border-radius: 2px;
  cursor: pointer;
}

.progressBar {
  font-weight: bold;
  color: rgb(90, 90, 90);
  margin: 0;
}


.input-task {
  width: 50px;
}